#####################################################
#
# List of approvers for KuiklyUI
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# universal files
* @iPel @elixxli @ruifanyuan @luoyibu @zenipchen @zealotchen0
/README.md @elixxli @ruifanyuan
/buildSrc/ @elixxli @iPel
/androidApp/ @iPel @elixxli @zenipchen
/core/ @iPel @zenipchen @luoyibu @ruifanyuan
/compose/ @luoyibu @iPel @zenipchen
/core-annotations/ @elixxli @iPel
/core-kapt/ @elixxli @iPel
/core-ksp/ @elixxli @iPel
/core-render-android/ @iPel @zenipchen
/core-render-ios/ @luoyibu @ruifanyuan
/core-render-ohos/ @ruifanyuan @iPel
/core-render-web/ @gguoyu @xyc-cn @zealotchen0 @elixxli @etkmao
/h5App/ @gguoyu @xyc-cn @zealotchen0 @elixxli @etkmao
/miniApp/ @gguoyu @xyc-cn @zealotchen0 @elixxli @etkmao
/demo/ @iPel @zenipchen @luoyibu @etkmao
/gradle/ @elixxli @iPel
/img/ @iPel @elixxli
/iosApp/ @luoyibu @ruifanyuan
/*.sh @elixxli @iPel
/*.gradle.kts @elixxli @iPel
/CODE_OF_CONDUCT.md @iPel @luoyibu
/CONTRIBUTING.md @iPel @luoyibu
/LICENSE @iPel @luoyibu
/README* @iPel @luoyibu
/OpenKuiklyIOSRender.podspec @luoyibu @ruifanyuan
/gradlew*  @elixxli @iPel
/.gitignore @iPel @elixxli







